$ cat .gitignore

# Can ignore specific files
Makefile
fbdbg.geany
cmake_install.cmake
install_manifest.txt

fbdbg
fbdbg.pot

# Use wildcards as well
*.ui~

# Can also ignore all directories and files in a directory.
locale/**/*.mo
test/**/*
SARG/**/*
src/img/**/*
doc/html/**/*
doc/latex/**/*
CMakeFiles/**/*
_CPack*/**/*
