$ cat .gitignore

# Can ignore specific files
Makefile
info.txt
cmake_install.cmake
install_manifest.txt

fbdbg
fbdbg.pot
fbdbg.geany

# Use wildcards as well
*.ui~
*.mo

# Can also ignore all directories and files in a directory.
src/tobac/**/*
build*/**/*
test/**/*
SARG/**/*

doc/html/**/*
doc/latex/**/*
CMakeFiles/**/*
_CPack*/**/*
